.course-directions {
	display: flex;
	align-items: flex-start;
	position: relative;
	margin: 0 -30px;

	&-nav {
		width: $base-gutter * 49;
		flex-shrink: 0;

		&__title {
			line-height: 50px;
			padding-left: $base-gutter * 6;
		}

		&__item {
			&.is-active,
			&:hover {
				background-color: $white;

				.course-directions {
					&-nav {
						&__title {
							font-weight: 600;
						}
					}
				}
			}
		}
	}

	&-content {
		background: $white;
		padding: $base-gutter * 2 0 $base-gutter * 2 $base-gutter * 7;
		flex: 1;

		&__list {
			display: none;
			columns: 3;
			column-gap: 20px;

			&.is-active {
				display: block;
			}
		}

		&__item {
			padding: $base-gutter * 2 $base-gutter * 12 $base-gutter 0;
			position: relative;

			&:hover {
				color: $accent-color;
			}

			a {
				position: absolute;
				left: 0;
				top: 0;
				right: 0;
				bottom: 0;
			}

			&:after {
				content: '';
				display: block;
				background-image: url(data:image/svg+xml;base64,PCFET0NUWVBFIHN2ZyBQVUJMSUMgIi0vL1czQy8vRFREIFNWRyAxLjEvL0VOIiAiaHR0cDovL3d3dy53My5vcmcvR3JhcGhpY3MvU1ZHLzEuMS9EVEQvc3ZnMTEuZHRkIj4KDTwhLS0gVXBsb2FkZWQgdG86IFNWRyBSZXBvLCB3d3cuc3ZncmVwby5jb20sIFRyYW5zZm9ybWVkIGJ5OiBTVkcgUmVwbyBNaXhlciBUb29scyAtLT4KPHN2ZyB3aWR0aD0iODAwcHgiIGhlaWdodD0iODAwcHgiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KDTxnIGlkPSJTVkdSZXBvX2JnQ2FycmllciIgc3Ryb2tlLXdpZHRoPSIwIi8+Cg08ZyBpZD0iU1ZHUmVwb190cmFjZXJDYXJyaWVyIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiLz4KDTxnIGlkPSJTVkdSZXBvX2ljb25DYXJyaWVyIj4gPGcgaWQ9IkFycm93IC8gQ2hldnJvbl9SaWdodCI+IDxwYXRoIGlkPSJWZWN0b3IiIGQ9Ik05IDVMMTYgMTJMOSAxOSIgc3Ryb2tlPSIjQzRDNEM0IiBzdHJva2Utd2lkdGg9IjIiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIvPiA8L2c+IDwvZz4KDTwvc3ZnPg==);
				width: $base-gutter * 3;
				height: $base-gutter * 3;
				position: absolute;
				right: $base-gutter * 8;
				top: $base-gutter * 3;
				background-size: cover;

			}
		}
	}
}
