footer
  .footer
    .footer-top
      .container
    .footer-bottom
      .container
        .footer-bottom__content
          .small-logo.footer__small-logo
            span Logo
          span.copyright © 2021. Logo. Все права защищены
          .footer-bottom__right
            ul.social-list
            a(href="").user-agreement Пользовательское соглашение

