mixin advantage(icon,title,text)
  .advantage
    .advantage__header
      img(src=`./static/images/content/index-page/advantages/${icon}.svg`).advantage__icon
      span.advantage__title!=title
    p=text

section.s-advantages.bg-white
  .container
    h2 Наши преимущества
    .advantages
      +advantage('big-choice','Большой выбор онлайн-курсов','Мы аккумулируем большое количество онлайн-курсов по различным направлениям, позволяя сравнивать их, и выбирать то, что вам нравится')
      +advantage('actual','Актуальная <br>информация','Мы регулярно обновляем наши базы данных, чтобы предоставлять вам только самую свежую информацию о новых курсах, старте обучения,  скидках и предложениях от онлайн-школ')
      +advantage('speed','Скорость<br>поиска','Агрегатор курсов создан для экономии вашего времени.  Вы можете с легкостью найти подходящий курс в нашем каталоге по различным фильтрам')
