section.s-schools-slider.bg-white
  .container
    h2 Школы
    .schools-slider
      .schools-slider__item
        img(src="./static/images/content/schools/netology.png")
      .schools-slider__item
        img(src="./static/images/content/schools/skillfactory.png")
      .schools-slider__item
        img(src="./static/images/content/schools/otus.png")
      .schools-slider__item
        img(src="./static/images/content/schools/geekbrains.png")
