<div class="form">
  <h1>Login</h1>
  <form [formGroup]="form" (submit)="submit()">
    <mat-form-field>
      <mat-label>E-mail</mat-label>
      <input formControlName="email" matInput>
      <mat-error>{{ getErrorMessage('email') }}</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Password</mat-label>
      <input formControlName="password" type="password" matInput>
      <mat-error>{{ getErrorMessage('password') }}</mat-error>
    </mat-form-field>
    <button mat-raised-button color="primary" [disabled]="!form.valid">Submit</button>
  </form>
</div>
