extends ./layouts/main.pug

block content
  body
    .wrapper
      include ./modules/header/header
      .content
        include ./index/banner
        include ./index/advantages
        include ./index/course-directions
        include ./index/schools-slider
        include ./index/popular-cources
        include ./index/blog-preview
      include ./modules/footer/footer
